body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    color: rgb(var(--foreground-rgb));
    background: rgb(147,231,147);
    background: white;
  }

#titleAni.none{
  
  /* background-color: rgba(20,20,20,0.2); */
  margin-top:40px;
  opacity: 1;
} 

