.companyVision {
    padding: 2rem 0;
  }
  
  .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .content {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
  }
  
  /* 반응형 디자인: 태블릿 */
  @media screen and (max-width: 768px) {
    .title {
      font-size: 1.5rem;
    }
  
    .content {
      font-size: 1rem;
    }
  }
  