.contact{
    display: flex;
    width:70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.contactBox{
    width: 60%;
    height: 250px;
    /* background-color: red; */
}
.logo{
    margin-top: 60px;
    margin-left:-20px;
    width: 300px;
    height: 200px;
    background-image: url(/images/vwp_logo_500.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title{
    font-size: 2rem;
    /* margin-top: 30px; */
    /* margin-left:20px; */
    
}
.companyName{
    font-size: 1.4rem;
    font-weight: 300;
    /* margin-left:20px; */

}
.detailBigBox{
    width: 450px;
}


.detailBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 250px;
    justify-content: baseline;
    /* align-items: space-between; */

    /* width: 0%; */
    /* margin:0 auto; */
    /* margin-left: 50px; */
    margin-top: 40px;
    /* height: 600px; */



    /* column-rule: dotted;    */
}

.detailBox .contactUs{
    background-color: blue;
    width: 100%;
}


.detailBox h4{
    margin-top: 20px;
    font-size: 1.2rem;
    /* height: 100px; */
}
.officeBox h4{
    margin-top:0;
}

.detailBox h5{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 300;
}

.phoneBox h4{
    /* width: 200px; */
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .contact {
        display: block;
    }
    .contactBox{
        width: 100%;
        height: auto;
    }
    .detailBigBox{
        width: auto;
    }
    .detailBox{
        display: block;
        height: auto;
        width: 85%;

        margin-top:50px;
        /* background-color: aqua; */
    }
    .phoneBox h4{
        margin-top: 40px;
    }
  }
  
