.companyIntro {
    padding: 2rem 0;
    background-color: #f5f5f5;
  }
  
  .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .content {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
  }
  .infoItem {
    /* flex-basis: 30%; */
    position: relative;
    height: 400px;
    padding: 1rem;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 10px 10px 40px rgba(253, 215, 215, 0.2);
  }

  
  .infoItem h2 {
    position: absolute;
    color:#0c76b7;
    left:5%;
    top:20px;
    font-size: 2rem;
    margin: 0 0 1rem;
  }
  
  .infoItem p {
    position: absolute;
    z-index: 2;
    top:100px;
    width: 30%;
    left:5%;
    font-size: 1rem;
    margin: 0;
  }
  .infoItem img{
    position: absolute;
    z-index: 0;
    width: 60%;
    top: 0;
    right: 0;
    height: 400px;
    object-fit: cover;
  }



  /* 반응형 디자인: 태블릿 */
  @media screen and (max-width: 768px) {
    .title {
      font-size: 1.5rem;
    }
  
    .content {
      font-size: 1rem;
    }
  }
  