.footer {
    padding: 2rem 0;
    background-color: linear-gradient(0deg, rgb(227, 255, 228) 0%, rgba(45,191,253,0.8) 100%);
    /* color: #ffffff; */
    text-align: center;
  }
  
  .footerMenu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .footerMenu li {
    margin: 0 1rem;
  }
  
  .footerMenu a {
    color: gray;
    text-decoration: none;
  }
  
  .footerMenu a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    font-size: 0.9rem;
    margin: 0;
  }
  
  /* 반응형 디자인: 태블릿 */
  @media screen and (max-width: 768px) {
    .footerMenu ul {
      flex-direction: column;
    }
  
    .footerMenu li {
      margin: 0.5rem 0;
    }
  }
  